.academic__courses__item__img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 286px;
}

.academic__courses__item__img img{
    width: 40%;
    margin: 1em;
}

@media screen and (min-width:768px) {
    
}

@media screen and (min-width:1024px) {
    .academic__courses__item__img img{
        width: 60%;
        margin: 1em;
    }
}

    
    


    