.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0.5rem;
}

@media screen and (min-width:768px) {
    .menu{
        margin: 1rem 2rem;
    }
}

@media screen and (min-width:1024px) {
    .menu{
        margin: 1.5rem 5rem;
    }
}