.experience__repo{
    margin-right: 0.5rem;
}

.experiencia__boton--repo{
    width: 108px;
    height: 40px;
    color: var(--color-boton-azul);
    border: 1px solid var(--color-boton-azul);
    font-weight: bold;
}

.experiencia__boton--repo:hover{
    color: var(--color-blanco);
    border: 1px solid var(--color-blanco);
    background-color: var(--color-boton-azul);
    transition: all 0.2ms;
}